extends layout

block content
    
        .row.row-offcanvas.row-offcanvas-right            
            .col-xs-12.col-sm-9
            
                if(error)
                        p(id="errorLog", class="small alert alert-danger") #{error} 

                if(!origin || !langArray)
                    .uploadFiles
                        form(action="/upload", method="post", enctype="multipart/form-data")
                            input(type="file", name="origin")
                            input(type="file", name="lang")
                            p
                                input(id="uploadButton", type="submit", class="btn btn-primary")

                else
            
                    form(id="saveForm", action="/save", method="post")
                    
                        p(id="notification", class="small text-muted")

                        table(id="translationTable")
                            thead
                                tr
                                    th
                                        h4 origin file 
                                        a(href="json/origin.json", class="small", download) download

                                    each translation, lang in langArray
                                        th 
                                            h4 #{lang} 
                                            a(href="json/" + lang, class="small", download) download

                            tbody
                                each value, key in origin
                                    tr(class="keyRow")
                                        td(colspan=99, class="key") #{key} :
                                    tr(class="inputRow")
                                        td
                                            input(class=key, name="~origin.json__" + key, type="text", placeholder=value, originalValue=origin[key], value=origin[key])

                                            each translation, lang in langArray
                                                //td #{translation}
                                                td(class=!translation[key] ? "dif " : "")
                                                    input(class=key, name=lang + "__" + key, type="text", placeholder=value, originalValue=translation[key], value=translation[key])

                                //tr(id="resetButtons")
                                    td

                                    each translation, lang in langArray
                                        td 
                                            input(class="btn btn-secondary resetButton", lang=lang, type="button", value="Reset")
                          
                        br
                        input(id="saveButton", class="btn btn-primary", type="submit", value="Save")
                        input(id="showButton", class="btn btn-secondary", type="button", value="Show All")
                        
                        input(class="btn btn-secondary resetButton", style="float:right", type="button", value="Reset")    

                        br
                        br
                        p(class="small text-muted") request time = #{time} ms    


            div(id="lateral", class="col-xs-6 col-sm-3 small")
            
        script(src='/javascripts/indexUtils.js')
        script(src='/javascripts/indexReact.js')
        script(src='/javascripts/indexEvents.js')
